<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		
		{{> nav status}}
	
		<h1>Users</h1>
		<ul>
		{{#each users}}
			<li>
				<form method="GET" action="/users">
					<dl>
						<dt>Auth.Name:</dt>
						<dd>{{this.Auth.Name}}</dd>
						<dt>Auth.ID:</dt>
						<dd>{{this.Auth.ID}}</dd>
						<dt>Auth.IDHash:</dt>
						<dd>{{this.Auth.IDHash}}</dd>
						<dt>Auth.Token:</dt>
						<dd>{{this.Auth.Token}}</dd>
						<dt>Auth.Expires:</dt>
						<dd>{{this.Auth.Expires}}</dd>
					</dl>
					<input type="hidden" name="Auth.IDHash" value="{{this.Auth.IDHash}}"/>
					<input type="submit" value="Delete"/>
				</form>
			</li>
		{{/each}}
		</ul>
	</body>
</html>